.topnav {
  background-color: #3C6C94;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: rgb(242, 242, 242);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ACB3BE;
  color: black;
}

.topnav a.active {
  background-color: #6E6938;
  color: white;
}

.center {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: underline;
  /* font-size: 7vw; */
}

.center1 {
  font-size: 84px;
  font-weight: bold;
  text-align: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.center2 {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.center3 {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.center4 {
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.div {
  border-radius: 5px;
  background-color: rgb(242, 242, 242);
  padding: 20px;
}

.headshot {
  width: 150px;
  border-radius: 50%;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25;
}

.title {
  text-align: center;
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

 td, th {
  border: 1px solid #5C7491;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(242, 242, 242);
}

tr:hover {
  background-color:#ACB3BE;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5C7491;
  color: white;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(204, 204, 202);
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: rgb(76, 175, 80);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(69, 160, 73);
}

th[role=columnheader]:not(.no-sort) {
  cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
  content: '';
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #404040 transparent;
  visibility: hidden;
  opacity: 0;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
  border-bottom: none;
  border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
  visibility: visible;
  opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
  visibility: visible;
  opacity: 1;
}

#ffApp {
  text-transform: capitalize;
}

#Email {
  text-transform: lowercase;
}

#button {
    background-color: #3C6C94;; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5;
    margin-top: 25;
}
